.app-header{
    grid-column: 3 / span 10;
    grid-row: span 1;
    padding: 1em 2em;

    .nav-link{
        color: $secondary;
    }

    #nameSection{
        color: $principal;
        font-weight: bold;
        font-size: 1.5em;
    }

    .number-notify{
        background-color: $alert_danger;
        width: 13px;
        height: 13px;
        font-size: .6em;
        font-weight: bold;
        top: 7px;
        right: 10px;
    }

    .submenu {
        background-color: #fff;
        font-size: .8em;
        right: 0;
        display: none;
        z-index: 1000;
        max-height: 250px;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            -webkit-appearance: none;
            &:vertical{
                width: 5px;
            }
    
            &:horizontal{
                height: 10px;
            }
    
            &-thumb{
                background-color: $secondary;
                border-radius: 20px;
            }
        }

        &.notifications{
            min-width: 300px;
        }

        &.profile{
            min-width: 170px;
            font-size: 1em;
        }

        h5{
            font-size: .9em;
            font-weight: bold;
            color: $principal;
        }
    }
}