.app-aside{
    grid-column: span 2;
    grid-row: 1 / span 12;
    background-color: $principal;

    .nav-link {
        color: #fff;
        padding: 1em 0;
    }

    .divider{
        border-color: $secondary;
        opacity: .3;
        width: 100%;
        margin: .3em;
    }
}