.app-aside{
    grid-column: span 3;
    grid-row: 1 / span 12;
    background-color: #353535;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            padding: 1em;
            text-align: center;

            &:nth-child(even){
                background-color: #454545;
            }
        }
    }
}